.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #ffffff;
    gap: 30px;
    padding: 0 20px;
    border-bottom: 2px solid #d9d9d9;
}

.user-info-nav {
    display: flex;
    align-items: center;
    text-align: right;
    height: 100px;
}

.avatar {
    border: 2px solid #5D7285;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
    object-fit: contain;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
}

.user-role {
    font-size: 16px;
    color: #5d7285;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
}

.notification-icon {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bell-icon {
    width: 80%;
    height: 80%;
}

.notification-badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon:hover {
    transform: scale(1.2);
}
