.Management-page-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}
.Managament-header {
    align-self: stretch;
    color: #5D7285;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Employee-search-filter {
    display: flex;
    width: 514px;
    height: 40px;
    align-items: center;
    gap: 10px;
}
.Search-title {
    color: #5D7285;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Search-bar {
    display: flex;
    height: 40px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 0.5px solid #000;
    background: #FFF;
    font-size:16px
}
.Search-content {
    color: #5D7285;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border:none;
    outline:none;
}
.Adjustment-container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.Delete-button {
    font-size: 20px;
    padding:5px;
    border-radius: 10px;
    border: 3px solid #F00;
    background: #FFF;
}
.Adding-list-button {
    font-size:20px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #2196F3;
    background: #FFF;
}
.Search-icon {
    width: 30px;
    height: 30px;
}
.Check-box {
    width: 20px;
    height: 20px;
}
.Table-container {
    width: 100%;
    overflow-x: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 8px #5D7285;

}
.table-pagination-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.data-list {
    width: 100%;
    border-collapse: collapse;
}
.data-list tr{
    height: 60px;
    border-bottom: 1px solid #ddd;

}
.data-list th{
    background-color: #D2E0F4;
    color: #5D7285;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid #8592A0;
}
.data-list th input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.data-list th input[type="checkbox"]:checked {
    accent-color: #2196F3;
}

.data-list td {
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid #00000015;
    width: 130px;
    word-wrap: anywhere;
}
.data-list td input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.data-list td input[type="checkbox"]:checked {
    accent-color: #2196F3;
}
.Info-icon{
    font-size:30px;
    color:#2196F3;
    cursor:pointer; 
}
.pagination-controls {
    display:flex;
    width: 1300px;
    justify-content:space-between;
    align-items: center;
}
.selection-count {
    color: #0F57F1;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.items-per-page {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #2196F3;
    background: #FFF;
}
.pagination-container {
    display: flex;
    align-items: center;
    gap: 21px;
}
.pagination-buttons {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #2196F3;
    background: #FFF;
}
.info-tooltip {
    align-content: center;
    background: #FFF;
}