/*Page header + search styling*/
.request-page-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction:column;
}

.request-header-search-container {
    display: flex;
    justify-content: space-between;
}

.request-header {
    font-size: 20px;
    color: #5D7285;
    font-weight: bold;
    width: 100%;
}

.request-search-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;
}

.request-search-filter input[type="text"] {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #5D7285;
    width: 350px;
}

.search-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
}

/*Filter + Table styling*/

.request-page-table-filter-container {
    display: flex;
    gap: 10px;
}

.request-page-filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #D2E0F4;
    padding: 10px;
    margin-bottom: auto;
    border-radius: 10px;
}

.request-date-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.request-date-input {
    display: flex;
    gap: 10px;
}

.request-page-dash-icon {
    font-size: 20px;
    align-self: center;
}

.request-date-input input[type="date"] {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
}

.request-status-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.request-status-filter-divider {
    margin: 0;
    border: 2px solid #5D7285;
    border-radius: 10px;
}

.request-status-input {
    display: flex;
    gap: 10px;
    width: 100%;
}

.request-status-input label {
    font-size: 16px;
    color: #5D7285;
    font-weight: initial;
}

.request-status-input input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.request-status-input input[type="checkbox"]:checked {
    accent-color: #2196F3;
}

.create-request-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.create-request-button {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #5D7285;
    width: 159px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 8px #5D7285;
    display: flex;
    gap: 10px;
}

.create-request-button:hover {
    background-color: #2196F3;
    color: white;
}

.create-request-icon {
    font-size:24px;
}

/* Table + Pagination styling */
.table-pagination-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
/* Table styling */
.table-container {
    width: 100%;
    overflow-x: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 8px #5D7285;
}

.request-list {
    width: 100%;
    border-collapse: collapse;
}

.request-list tr{
    height: 60px;
}

.request-list th {
    background-color: #D2E0F4;
    color: #5D7285;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #8592A0;
}

.request-list th input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.request-list th input[type="checkbox"]:checked {
    accent-color: #2196F3;
}

.request-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #00000015;
    width: 90px;
    word-wrap: anywhere; 
}

.request-list td input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.request-list td input[type="checkbox"]:checked {
    accent-color: #2196F3;
}

.empty-row td {
    border: none !important;
}

.request-info-icon {
    position: relative;
    font-size: 30px;
    color: #2196F3;
}

.request-tooltip {
    position: relative;
    display: inline-block;
}

.request-tooltip .request-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: #5D7285;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    box-shadow: 2px 2px 8px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.request-tooltip:hover .request-tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Status icon styling */
.request-status-icon.deny {
    color: #ff0000;
    font-size: 30px;
}

.request-status-icon.pending {
    color: #5D7285;
    font-size: 25px;
}

.request-status-icon.approve {
    color: #2196F3;
    font-size: 35px;
}

/* Pagination styling */
.request-pagination-container {
    display: flex;
    justify-content: space-between;
}

.request-pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.pagination-button {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: #5D7285;
    border: 2px solid #2196F3;
    min-width: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

.pagination-button:hover {
    background-color: #2196F3;
    color: #ffffff;
}

.pagination-button.active {
    background-color: #2196F3;
    color: #ffffff;
}

.pagination-button:hover .arrow-icon {
    color: #ffffff;
}

.pagination-button.active .arrow-icon {
    color: #ffffff;
}

.arrow-icon {
    font-size: 24px;
    color: #5D7285;
}

.arrow-icon.left {
    transform: scaleX(-1);
}

.request-download-icon {
    font-size: 30px;
    color: #5D7285;
    cursor: pointer;
}

.request-deny-button, .request-approve-button {
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 145px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    padding: 0 5px;
}

.request-deny-button {
    border: 2px solid red;
    color: red;
    background-color: #ffffff;
}

.request-deny-button:hover {
    background-color: #ff000025;
}

.request-approve-button {
    border: 2px solid #2196F3;
    color: #2196F3;
    background-color: #ffffff;
}

.request-approve-button:hover {
    background-color: #2196F325;
}