.user-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.user-info-header {
    font-size: 20px;
    color: #5D7285;
    font-weight: bold;
}

label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.input-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input-info select {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
}

.input-info select option {
    padding: 5px;
    border-radius: 10px;
}

.input-info input {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
}

#textarea-input-info {
    height: 100%;
}

#textarea-input-info textarea {
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 100%;
}

.multi-input-info {
    width: 100%;
    display: flex;
    gap: 60px;
}

#user-info-edu {
    border-right: 2px solid #d9d9d9;
}